.BreadBottom {
    border: 1px solid red;
}
.BreadTop {
    border: 2px solid green;
}
.Seed1 {
    border: 1px solid orange;
}
.Seed2 {
    border: 1px solid orangered;
}
.Meet {
    border: 1px solid rebeccapurple;
}
.Cheese {
    border: 1px solid lightyellow;
}
.Bacon {
    border: 1px solid brown;
}
.Salad {
    border: 1px solid greenyellow
}
